body
{
    width   : 100%;
    background-color : azure;
}

#wrapper
{
    width   : 90%;
    margin  : 0 auto; 
    background-color : white;
}

#headimg
{
    height : 70px;
    background-color : white;
}

#headnav
{
    height : 50px;
    background-color : beige;
}

#headnav nav
{
    background-color :burlywood;
    margin : 0 auto;
}
#headnav ui
{
    text-align: center;
}

#headnav ui li
{
    display: inline-block;
    width :24%;
}

#content
{
}

#info
{
    float:left;
    background-color:blue;
    width:30%;
    height:500px;
}

#news
{
    float:left;
    background-color:red;
    height:500px;
    width:40%;
}

#twitter
{
    float:right;
    background-color:green;
    width:30%;
    height:500px;
}

.clear{
    clear:both;
}

footer
{
}

footer nav
{
    background-color : beige;
}