body
{
    width   : 100%;
    background-color : azure;
    font-family: "Sawarabi Mincho";
}

#wrapper
{
    width   : 90%;
    margin  : 0 auto;
    border-radius: 5px;
}

#headimg
{
    height : 75px;
    margin: 10px;
}

main
{
    margin-top:100px;
}

#twitter
{
    min-height: 500px;
}

#member
{
    min-height:500px;
    width:20%;
    float:left;
    word-wrap: break-word;
}

#member img.icon
{
    width:100%;
}

.clear{
    display: inline;
    clear: both;
}

footer
{
    text-align: right;
}
